<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title><%= title %></title>
    <link href="data:image/x-icon;base64,AAABAAEAEBAQAAEABAAoAQAAFgAAACgAAAAQAAAAIAAAAAEABAAAAAAAgAAAAAAAAAAAAAAAEAAAAAAAAAAAAAAA/4QAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABERAAAAAAABEREQAAAAAAERERAAAAAAABERAAAAAAAAAAEAAAAAAAAAAQAAAAAAAAARAAAAAAAAABAAEAAAAAABEREAAAAAAAEREAAAAAAAABAAAAAAAAAAAAAAAAAAAAAAAAAAD//wAA//8AAP//AAD4fwAA8D8AAPA/AAD4fwAA/38AAP9/AAD+fwAA/u8AAPwfAAD8PwAA/v8AAP//AAD//wAA" rel="icon" type="image/x-icon" />
